.customer-info-box{
    position: absolute;
    display: flex;
    flex-shrink: 0; 

    fill: #FFF;
}

.customer-info-layout{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 631px;
}

.customer-info-title{
    position: relative;
    width: max-content;
    height: max-content;
    padding-left: 11px;
    padding-right: 8px;
    margin-left: 42px;

    background-color: white;   
    box-shadow: none;
    z-index: 1;
}

.order-form-layout{
    position: relative;
    width: auto;
    align-self: center;
    z-index: 1;
}

.order-form{
    display: flex;
    flex-direction: column;
}

.asterisk-color{
    color: #F55 !important;
}

.orange-box{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 45px;
    height: 39px;
    flex-shrink: 0; 
  
    border-radius: 10px;
    border: 1px solid #FF7E4F;
    background: #FF7E4F; 
  
    z-index: 1;
}

.center-63{
    display: table;
    margin: 0 auto;
}

#opt-addr{
    color: #585858;
    font-weight: 300;
}

.orange-btn{
    width: 205px;
    height: 46px;
    flex-shrink: 0; 

    border-radius: 25px;
    background: #FF7E4F; 

    border: none;
}

.dropdown-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.672px;
    height: 25px;
}

.orange-dropdown-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.672px;
    height: 25px;
    flex-shrink: 0; 

    border-radius: 5px;
    background: #FF7E4F; 

    color: white;
    text-align: center;
    font-family: Actor;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

    border: none;
}

.dropdown-icon{
    position: relative;
    width: 17px;
    height: 15.627px;
    flex-shrink: 0;

    color: white;
    text-align: center;
    font-family: Actor;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

    transform: rotate(180deg);
}

.select-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.placeholder-text{
    text-align: center;
    color: rgba(187, 187, 187, 0.73);
    font-family: Pridi;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}