.orderdetails-container {
  width: calc(100% - 2 * 3.125rem);
  height: calc(100% - 2 * 2.5rem);

  margin-block: 2.5rem;
  margin-inline: 3.125rem;
  padding-inline: 1.31rem;

  border-radius: 1.25rem;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.4);
}

.header {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.header div {
  margin-block: 1.21rem 0;

  display: flex;
  flex-direction: row;
}

.back {
  all: unset;
  position: absolute;
  margin-left: 2rem;
  cursor: pointer;
}

.back img {
  width: 4.25rem;
  height: 4.25rem;
}

.header h2 {
  margin-inline: auto;
  margin-block: 0;
  padding: 0;

  color: #fd5001;
  font-family: Selfie;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.25rem;
}

.header h3 {
  margin-inline: auto;
  margin-block: 0.7rem 0;
  color: #000;
  font-family: Pridi;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.313rem;
}

.order {
  height: calc(80% - 0.5rem - 2.8rem);
  margin-block: 0.5rem 2.8rem;
  margin-inline: 10.84rem;
  padding-block: 3.25rem;
  box-sizing: border-box;

  border-width: 8px;
  border-style: solid;
  border-color: #ff1b1b;
  border-radius: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2.5rem;
  gap: 1.625rem;

  color: #000;
  text-align: center;
  font-family: Pridi;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.order b {
  display: block;
  margin: 0;
  padding: 0;
  color: #000;
  text-align: center;
  font-family: Pridi;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.938rem;
}

select {
  margin-left: 0.5rem;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-sizing: border-box;

  color: black;
  font-family: Pridi;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 300;
}

.notes {
  grid-column: span 2;
}

.completed {
  border-color: #14cf11;
}

.pending {
  border-color: #1b9fff;
}

.out-for-delivery {
  border-color: #ff9f1b;
}

.cancelled {
  border-color: #ff1b1b;
}

.confirm-button {
  width: auto;
  height: auto;
  margin: auto;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  background-color: #fd5001;
  border: none;
  border-radius: 1.25rem;
  grid-column: span 3;

  color: white;
  font-family: Pridi;
  font-size: 1.125rem;
}
