.dayorders-container {
  position: relative;
  width: calc(100% - 2 * 3.125rem);
  height: calc(100% - 2 * 2.5rem);

  margin-block: 2.5rem;
  margin-inline: 3.125rem;
  padding-inline: 1.31rem;

  border-radius: 1.25rem;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.4);
}

.header {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.header div {
  margin-block: 1.21rem 0;

  display: flex;
  flex-direction: row;
}

.back {
  all: unset;
  position: absolute;
  margin-left: 2rem;
  cursor: pointer;
}

.back img {
  width: 4.25rem;
  height: 4.25rem;
}

.header h2 {
  margin-inline: auto;
  margin-block: 0;
  padding: 0;

  color: #fd5001;
  font-family: Selfie;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.25rem;
}

.header h3 {
  margin-inline: auto;
  margin-block: 0.7rem 0;
  color: #000;
  font-family: Pridi;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.313rem;
}

.header span {
  margin-top: 0.5rem;
  margin-left: 7.813rem;

  color: #000;
  font-family: Pridi;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.938rem;
}

.header span select {
  margin-left: 0.5rem;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-sizing: border-box;

  color: black;
  font-family: Pridi;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}

.orders-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-block: 1.4rem 3.3rem;
  margin-inline: 2rem;
}

.orders-headers {
  grid-column: span 4;
  display: grid;
  grid-template-columns: 17% 33% 25% 25%;
  text-align: center;
}

.orders-headers h3 {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Pridi;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.938rem;
}

.order-row {
  grid-column: span 4;
  display: grid;
  grid-template-columns: 17% 33% 25% 25%;
  margin-inline: -8px;
  margin-bottom: 0.5rem;
  padding-block: 1.2rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  border: 8px solid #14cf11;
  background: #fff;

  color: #000;
  text-align: center;
  font-family: Pridi;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.938rem;

  text-decoration: none;
}

.completed {
  border-color: #14cf11;
}

.pending {
  border-color: #1b9fff;
}

.out-for-delivery {
  border-color: #ff9f1b;
}

.cancelled {
  border-color: #ff1b1b;
}

.export-container {
  position: absolute;
  width: auto;
  right: 3.31rem;
  bottom: 1rem;

  display: inline;

  color: #000;
  text-align: center;
  font-family: Pridi;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  cursor: pointer;
}
