.dashboard {
  display: grid;
  grid-template-columns: 20rem 1fr;
  align-items: start;
  height: calc(100vh - 6.25rem);
}

.calendar-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  color: black;
}
