.PAGE-FOOTER {
  height: 100px;
  width: 100%;
  display: flex;
}

.PAGE-FOOTER .overlap-group {
  background-color: #ffffff;
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 4.375rem;
  margin-right: 4.375rem;
  align-items: center;
}

.PAGE-FOOTER .text-wrapper {
  color: #fd5001;
  font-family: "Fjalla One", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  width: 204px;
}

.PAGE-FOOTER .social-media-icons {
  display: flex;
  height: 31px;
  width: 113px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PAGE-FOOTER .instagram {
  display: block;
  height: 31px;
  object-fit: cover;
  width: 31px;
}

.PAGE-FOOTER .facebook {
  display: block;
  height: 31px;
  object-fit: cover;
  width: 31px;
}

.PAGE-FOOTER .messenger {
  display: block;
  height: 28px;
  object-fit: cover;
  width: 29px;
}
